<div class="row">
  <div class="col m4" *ngFor="let element of prdtElements">
    <div class="card" >
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{baseImageUrl}}{{element.imageUrl}}"  alt="{{baseImageUrl}}{{element.imageUrl}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{element.name}}<i class="material-icons right">more_vert</i></span>
        <p class="card-text">{{element.price }}</p> 
      </div>
      <div id="actionDiv" class="card-action">
        <a  *ngIf="addCartNotPressed; else addCartPressed" 
         id="btnStyle" 
         class="waves-effect waves-light btn"
         (click)=onPressCartButton()
          >Add to Cart</a> 
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{element.name}}<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
      <ng-template #addCartPressed>
        <app-product-quantity></app-product-quantity>
    </ng-template>
    </div>
  </div>

 
  <!-- <div class="col m4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src={{prdtInfo[0].prdtImage}}>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{prdtInfo[1].prdtName}}<i class="material-icons right">more_vert</i></span>
        <p class="card-text">{{prdtInfo[0].prdtPrice | currency:'USD':true}}</p>
      </div>
      <div id="actionDiv" class="card-action">
        <a 
         id="btnStyle" 
         class="waves-effect waves-light btn"
         (click)=onPressCartButton()
          >Add to Cart</a> 
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{prdtInfo[1].prdtName}}<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
      <ng-template >
        <a class="waves-effect waves-light btn" style="float:left"><i class="material-icons">add</i></a>
        <a class="waves-effect waves-light btn"style="float:right"><i class="material-icons">remove</i></a> 
    </ng-template>
    </div>
  </div> -->



  <!-- <div class="col m4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src={{prdtInfo[0].prdtImage}}>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{prdtInfo[2].prdtName}}<i class="material-icons right">more_vert</i></span>
        <p class="card-text">{{prdtInfo[0].prdtPrice | currency:'USD':true}}</p>
      </div>
      <div id="actionDiv" class="card-action">
        <a 
         id="btnStyle" 
         class="waves-effect waves-light btn"
         (click)=onPressCartButton()
          >Add to Cart</a> 
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{prdtInfo[2].prdtName}}<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
      <ng-template >
        <a class="waves-effect waves-light btn" style="float:left"><i class="material-icons">add</i></a>
        <a class="waves-effect waves-light btn"style="float:right"><i class="material-icons">remove</i></a> 
    </ng-template>
    </div>
  </div>

   -->
  <!-- <div class="col m4">
    <div class="card" id="outerCardDiv">
      <div class="card-image">
        <img src={{prdtInfo[0].prdtImage}}>
        <span class="card-title">{{prdtInfo[0].prdtName}}</span>
      </div>
      <div class="card-content">
        <p>{{prdtInfo[0].prdtDescription}}</p>
      </div>
      <div  id="actionDiv" class="card-action">
      <a id="btnStyle" class="waves-effect waves-light btn">Button</a> 
      </div>
    </div>
  </div>
</div>
       -->

    
      