<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Add Product</span>
        <div>
          <form [formGroup]="product" (ngSubmit)="onSubmit()" class="col s12 card-panel">
            <div class="row">
              <div class="input-field col s6">
                <label for="product_name">Product Name</label>
                <input id="product_name" type="text" class="validate" formControlName="name">
                <div *ngIf="name.touched && name.status === 'INVALID'"><p style="color: red">name is required!</p></div>
              </div>
              <div class="input-field col s12">
                <mat-form-field>
                  <mat-label>Category</mat-label>
                  <mat-select formGroupName="categoryId" (selectionChange)="select()">
                    <mat-option disabled>Choose category</mat-option>
                    <mat-option *ngFor="let cat of categories" [value]="cat._id">{{cat.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m6">
                <label for="price">Price</label>
                <input id="price" type="text" class="validate" formControlName="price">
                <div *ngIf="price.touched && price.status === 'INVALID'"><p style="color: red">Price is required!</p></div>
              </div>
              <div class="input-field col s12 m6">
                <label for="quantity">Quantity</label>
                <input type="number" id="quantity" formControlName="quantity">
                <div *ngIf="quantity.touched && quantity.status === 'INVALID'"><p style="color: red">Quantity is required!</p></div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix teal lighten-1">attach_file</i>
                <input class="file-input"
                       id="file"
                       type="file"
                       (change)="onFileChange($event)"
                       accept="image/*">
                <label for="file">Select Image</label>
              </div>
              <div class="col s3 file-upload">
                <span *ngIf="file">{{file.name}}</span>
                <span *ngIf="!file">No file uploaded yet.</span>
              </div>
            </div>
            <div class="row">
              <div class="right-align">
                <button class="waves-effect waves-light btn" type="submit">Add</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Add Category</span>
        <div>
          <form class="col s12 card-panel" (ngSubmit)="submitCategory()">
            <div class="row">
              <div class="input-field col s12">
                <label for="category_name">Category Name</label>
                <input id="category_name" [formControl]="categoryName" type="text" class="validate">
              </div>
            </div>
            <div class="row">
              <div class="right-align">
                <button class="waves-effect waves-light btn" type="submit">Add</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
