<div class="container">
    <div class="row">
        <div class="col m6" class="reset-password-page">
            <div class="loginForm">
                <h1 id="reset-password-heading">RESET YOUR PASSWORD</h1>
                <p id="sendEmailIndicator">
                   We will send you an email to reset your password
                </p>
                <form  id="myresetPasswordForm" class="col s12 card-panel white" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                   <div class="row">
                      <div class="input-field col s12" [ngStyle]="{marginLeft:'1px'}">
                          <label for="email">Email</label>
                          <input 
                          id="mail" 
                          type="email" 
                          class="validate" 
                          formControlName="email">  
                           <span 
                           *ngIf="!resetPasswordForm.valid && email?.touched"
                           class="helper-text">Enter a valid email</span>               
                        </div>
                    </div>
                  </form>
                  <button class="btn waves-effect waves-light black" type="submit" name="action" id="resetPasswordButton">
                    {{buttonName1}}
                </button>
                <a class="waves-effect waves-light btn-flat white" id="myCancelButton" routerLink="/log-in">{{buttonName2}}</a> 
            </div>           
        </div>
    </div>    
</div>