.register-page{
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding-left:15px;
    padding-right:15px;
    }

    #register-heading{
        font-weight:600;
        font-size:35px;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        margin: 86px 0 0;
        height:63px;
        text-align: center;   
    }

    #myRegisterForm{
        padding:0px;
    }

    #back-to-login-link{
        text-decoration: underline;
        position:relative;
        color:#000;
        cursor:pointer;
       margin:0px 0px 20px 0px;
        padding-left:10px;
        font-weight:600;
        cursor:pointer;
    }

    #registerButton{
        margin-bottom: 20px;
        margin-top:-23px;
        text-align: center;
        width: 100%;
        height: 45px;
        cursor:pointer;
        margin:0;
    }

    .helper-text{
        color:#E32C2C;
        font-size: 15px;
    }
    