nav{
    background-color: black;
    color:whitesmoke
}

.nav-wrapper form{
    margin: auto;
    width: 100%;
}

.nav-wrapper form #mySearch{
    height: 50px;
    border-radius: 20px;
}

.nav-wrapper .input-field{
    padding-top: 7px; 
}

.nav-wrapper .brand-logo{
    margin-left:10px;
}

.nav-wrapper .hide-on-med-and-down #catalog-menu{
    margin-left:100px;
}

