nav{
    background-color: black;
    color:whitesmoke
}

.nav-wrapper form{
    margin: auto;
    width: 100%;
}

.nav-wrapper form #mySearch{
    height: 50px;
    border-radius: 20px;
}

.nav-wrapper .input-field{
    padding-top: 7px; 
}

.nav-wrapper .brand-logo{
    margin-left:10px;
}

.nav-wrapper .hide-on-med-and-down #catalog-menu{
    margin-left:100px;
}

.notification-icon--fixed {
    position: relative;
    color: #fff;
    background-color: white;
    color:black;
    font-weight: bold;
    border-radius: 50%;
    font-family: "Roboto";
    
    /* Alignment */
    line-height: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    /* Adjust as required: */
    padding: 10px;
  }
  
  /* Height = width */
  .notification-icon--fixed::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }