
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper"> 
      <a href="#!" class="brand-logo">Logo</a>
      
      <!--Mobile harmburger menu-->
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i></a>
      
        <ul class="hide-on-med-and-down">
          <!-- Dropdown Trigger -->
          <li id="catalog-menu"><a class="dropdown-trigger" href="#" data-target="dropdown1">Catalog<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      <ul class="right hide-on-med-and-down">
        <li>
            <form>
                <div class="input-field">
                <input id="mySearch" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
                </div>
            </form>
        </li>
        <li><a href="#"><i class="material-icons">person_outline</i></a></li>
        <li><a href="#"><i class="material-icons">shopping_cart</i></a></li>
      </ul>

        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="#!">one</a></li>
          <li><a href="#!">two</a></li>
          <li class="divider"></li>
          <li><a href="#!">three</a></li>
        </ul>
    </div>
  </nav>
</div>

<!--Menu Mobile-->
  <!-- <ul id="mobile-navbar" class="sidenav">
    <li><a class="dropdown-trigger" href="#" data-target="dropdown1">Catalog<i class="material-icons right">arrow_drop_down</i></a></li>
  </ul> -->

 


  <!-- <li><a routerLink='/'>one</a></li>
    <li><a routerLink='/admin'>two</a></li>
    <li class="divider"></li>
    <li><a routerLink='/admin/orders'>three</a></li> -->